body {
  font-family: Arial, sans-serif !important;
}
.table th,
.table td {
  border-top: none !important;
  border-left: none !important;
}
.wrapper {
  float: left;
  clear: left;
  display: table;
  table-layout: fixed;
}
img.img-responsive {
  display: table-cell;
  max-width: 100%;
  height: auto;
}
.rentNowBox {
  background-color: #ffd800 !important;
  border: none;
}
.searchFilterBox {
  background-color: #ffd800 !important;
}
.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
  border: 0;
}
.datetime-picker-dropdown > li.time-picker-menu div > table {
  border: 0;
}
.animate-enter {
  -webkit-animation: enter 100ms cubic-bezier(0.39, 0.575, 0.565, 1);
  animation: enter 100ms cubic-bezier(0.39, 0.575, 0.565, 1);
  display: block;
  position: relative;
}
@-webkit-keyframes enter {
  from {
    opacity: 0;
    height: 0px;
  }
  20% {
    opacity: .5;
  }
  40% {
    opacity: .15;
    color: red;
  }
  60% {
    opacity: .75;
  }
  80% {
    opacity: .3;
  }
  to {
    opacity: 1;
    height: 30px;
  }
}
@keyframes enter {
  from {
    opacity: 0;
    height: 0px;
  }
  20% {
    opacity: .5;
  }
  40% {
    opacity: .15;
    color: red;
  }
  60% {
    opacity: .75;
  }
  80% {
    opacity: .3;
  }
  to {
    opacity: 1;
    height: 30px;
  }
}
.animate-leave {
  -webkit-animation: leave 100ms cubic-bezier(0.39, 0.575, 0.565, 1);
  animation: leave 100ms cubic-bezier(0.39, 0.575, 0.565, 1);
  display: block;
  position: relative;
}
@-webkit-keyframes leave {
  to {
    opacity: 0;
    height: 0px;
  }
  80% {
    opacity: .25;
  }
  60% {
    opacity: .10;
    color: red;
  }
  40% {
    opacity: .5;
  }
  20% {
    opacity: .30;
  }
  from {
    opacity: 1;
    height: 30px;
  }
}
@keyframes leave {
  to {
    opacity: 0;
    height: 0px;
  }
  80% {
    opacity: .25;
  }
  60% {
    opacity: .10;
    color: red;
  }
  40% {
    opacity: .5;
  }
  20% {
    opacity: .30;
  }
  from {
    opacity: 1;
    height: 30px;
  }
}