@import "colors.less";


@media (min-width: 1280px) {
    .container-fluid{
        //max-width: 1200px;
    }
}


@media (min-width: 768px) {
    .container-fluid{
        //max-width: 768px;
    }
}

@media (min-width: 320px) {
    .container-fluid{
        //max-width: 320px;
    }
}


body {
  font-family: Arial, sans-serif !important;
}

.table th, .table td {
    border-top: none !important;
    border-left: none !important;
}



.wrapper { float: left; clear: left; display: table; table-layout: fixed; }

img.img-responsive { display: table-cell; max-width: 100%;  height: auto; }


.rentNowBox{
    background-color: @callForActionBackgroundColor !important;
    border:none;
}

.searchFilterBox{
    background-color: @callForActionBackgroundColor !important;
}


//Date & Time Picker
.datetime-picker-dropdown {

}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.time-picker-menu div > table {
    border: 0;
}