
<div class="row" id="home" ng-controller="app.views.home as vm">

    <div class="col-md-3">
        <div class="well searchFilterBox">
            <form>

                <div class="form-group">
                    <label for="localRetirada" class="control-label">Local de retirada</label>
                    <input type="text" id="localRetirada" class="form-control input-sm" ng-model="vm.filters.localRetirada"><br />
                
                    <div class="checkbox">
                        <label><input type="checkbox" id="devolverOutroLocal" ng-model="vm.filters.devolverOutroLocal">Devolver o carro em outro local</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="localDevolucao" class="control-label">Local de devolução</label>
                    <input type="text" id="localDevolucao" class="form-control input-sm" ng-model="vm.filters.localDevolucao"><br />
                </div>

                <div class="form-group">
                    Retirada
                    <p class="input-group">
                        <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="vm.dataRetirada" is-open="vm.dataRetirada.open" enable-time="false" datepicker-options="vm.dataRetirada.datepickerOptions" close-on-date-selection="false" datepicker-append-to-body="true" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'dataRetirada')"><i class="fa fa-calendar"></i></button>
                        </span>
                    
                        <input type="text" class="form-control" datetime-picker="HH:mm" ng-model="vm.horaRetirada.date" is-open="vm.horaRetirada.open" enable-date="false" timepicker-options="vm.horaRetirada.timepickerOptions" close-on-selection="true" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'horaRetirada')"><i class="fa fa-clock-o"></i></button>
                        </span>
                    </p>

                </div>

                <div class="form-group">
                    Devolução
                    <p class="input-group">
                        <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="vm.dataDevolucao" is-open="vm.dataDevolucao.open" enable-time="false" datepicker-options="vm.dataDevolucao.datepickerOptions" close-on-date-selection="false" datepicker-append-to-body="true" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'dataDevolucao')"><i class="fa fa-calendar"></i></button>
                        </span>

                        <input type="text" class="form-control" datetime-picker="HH:mm" ng-model="vm.horaDevolucao.date" is-open="vm.horaDevolucao.open" enable-date="false" timepicker-options="vm.horaDevolucao.timepickerOptions" close-on-selection="true" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'horaDevolucao')"><i class="fa fa-clock-o"></i></button>
                        </span>
                    </p>

                </div>

                <div class="form-group well">
                    
                    <p class="label label-success" style="font-size: 14px">Economize até 35%</p><br/>
                    <label class="checkbox-inline"><input type="checkbox" id="incluirVoo" ng-model="vm.filters.incluirVoo">Incluir Vôo</label>
                    <label class="checkbox-inline"><input type="checkbox" name="incluirHotel" ng-model="vm.filters.incluirHotel">Incluir Hotel</label>


                </div>

                <div class="form-group">
                    <input type="button" value="Buscar" class="btn btn-primary btn-lg btn-block" role="button" ng-click="vm.Search()" tooltip="Buscar">
                </div>
            </form>
        </div>
    </div>


    <div class="col-md-9">

    <!--
        {{vm.filters}} - {{vm.sort }}
    //-->

        <div class="row">

            <div class="col-sm-12">
                <form class="form-inline">

                    <div class="form-group">

                        <label for="selectSortOptions">Itens por página</label>
                        <select class="form-control" ng-model="vm.sort.PageSizeSelected" ng-options="o.value as o.desc for o in vm.sort.PageSizeOptions"></select>

                        <label for="selectSortOptions">Ordenar por</label>
                        <select class="form-control" ng-model="vm.sort.OrderBySelected" ng-options="o as o.desc for o in vm.sort.OrderByOptions"></select>

                        <label for="selectCurrencyOptions">Moeda</label>
                        <select class="form-control" ng-model="vm.sort.CurrencySelected" ng-options="o.value as o.desc for o in vm.sort.CurrencyOptions"></select>

                    </div>
                </form>
            </div>

        </div>

            <div class="row item" ng-repeat="repo in vm.searchResults.items | orderBy:vm.sort.OrderBySelected.predicate:vm.sort.OrderBySelected.reverse">

                    <div class="col-sm-8">

                        <div class="row">

                            <div class="col-sm-4 wrapper">
                                <img class="img-responsive" ng-src="{{repo.ImageURL}}" alt="Avatar" />
                            </div>

                            <div class="col-sm-8">
                                <p>{{repo.ShortDesc}}</p>
                                <p>Código da taxa: {{repo.CodigoTaxa}}</p>
                                <p>{{repo.VeiculosDesc}}</p>

                                <ul>
                                    <li ng-repeat="option in repo.DescItens | limitlessFilter:3:showAll">{{option.desc}}</li>
                                </ul>
                                <a ng-bind="showAll && 'Fechar Detalhes' || 'Ver Detalhes'" ng-click="toggleShowAll()"></a>
                            </div>

                        </div>

                        <div class="row">
                            <hr>
                            <p>{{repo.LongDesc}}</p>
                            <hr>
                        </div>

                        <div class="row">
                            <table class="table table-responsive  borderless">
                                <tr>
                                    <td><span class="glyphicon glyphicon-star" aria-hidden="true">{{repo.QtdPortas}}portas</span></td>
                                    <td><span class="glyphicon glyphicon-star" aria-hidden="true">{{repo.QtdPessoas}}pessoas</span></td>
                                    <td><span class="glyphicon glyphicon-star" aria-hidden="true">{{repo.QtdMalas}}malas</span></td>
                                </tr>

                                <tr>
                                    <td ng-if="repo.HasArCondicionado == true"><span class="glyphicon glyphicon-star" aria-hidden="true">Ar Condicionado</span></tdng-if="repo.HasArCondicionado>
                                    <td><span class="glyphicon glyphicon-star" aria-hidden="true">{{repo.TipoCambio}}</span></td>
                                    <td ng-if="repo.HasDirecaoHidraulica == true"><span class="glyphicon glyphicon-star" aria-hidden="true">Direção Hidraulica</span></tdng-if="repo.HasDirecaoHidraulica>
                                </tr>

                                <tr>
                                    <td ng-if="repo.HasVidroEletrico == true"><span class="glyphicon glyphicon-star" aria-hidden="true">Vidro Elétrico</span></td>
                                    <td ng-if="repo.HasMultiMidia == true"><span class="glyphicon glyphicon-star" aria-hidden="true">CD/USB</span></td>
                                    <td ng-if="repo.HasRadio == true"><span class="glyphicon glyphicon-star" aria-hidden="true">RádioAM/FM</span></td>
                                </tr>
                            </table>
                        </div>

                    </div>

                    <div class="col-sm-4 well rentNowBox">
                        <p>De: {{repo.ValorLocacaoDe}}</p>
                        <p>Por: {{repo.ValorLocacaoPor}}</p>
                        <p>Em até: {{repo.ValorQtdParcelas}} vezes</p>
                        <input type="button" value="Alugar" class="btn btn-primary btn-md btn-block" ng-click="vm.Search()"><br />
                        <p>Taxas Inclusas</p>
                    </div>

            </div>

    </div>

</div>