<!DOCTYPE html>
<html ng-app="app" lang="pt-br" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Gabriel Coppini">

    <title>CVC - Angular</title>

    <link rel="shortcut icon" href="~/favicon.ico">

    @Styles.Render("~/Bundles/App/vendor/css")
    @Styles.Render("~/Bundles/App/Main/css")
        
    <!-- Essa fonte não ficou boa -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
        var CVC = CVC || {}; CVC.appPath = '@ApplicationPath';
    </script>

    

    @Scripts.Render("~/Bundles/App/vendor/js")
    @Scripts.Render("~/Bundles/App/Main/js")

    <!-- Plugin files -->
    <script src="https://cdn.rawgit.com/zhaber/datetimepicker/master/datetimepicker.js"></script>
    <link href="https://cdn.rawgit.com/zhaber/datetimepicker/master/datetimepicker.css" type="text/css" rel="stylesheet">





</head>
<body>
    <div class="container-fluid" ng-cloak ui-view>
    </div>
</body>

</html>
